@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.background-gradient {
  background: linear-gradient(to right, #bda885, #7a6c48);
}

.background-gradient:hover {
  background: linear-gradient(to left, #bda885, #7a6c48);
}

.skills-background{
  background-color: #bda885;
}